<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit
        ></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer;"
            *ngFor="let ingredient of ingredients; let i = index"
            (click)="onEditItem(i)"
            >
            {{ingredient.name}} ({{ingredient.amount}})
        </a>
        </ul>
    </div>    
</div>

<hr>
<form>
    <div class="row">
        <div class="col-sm-5 form-group">
            <label for="title">Title</label>
            <input #title ngModel class="form-control" type="text" id="title" name="title">
        </div>
        <div class="col-sm-2 form-group">
            <label for="content">Content</label>
            <input #content ngModel class="form-control" type="text" id="content" name="content">
        </div>
    </div>
</form>

<!-- <h1>{{test}}</h1> -->
<!-- 
<input type="text" [(ngModel)]="newTest">
<button (click)="onAddTest()">ADD TEST</button> -->