<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" 
                    ngModel
                    required
                    class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount"
                    ngModel
                    required
                    pattern="^[1-9]+[0=9]*$"
                     class="form-control">
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12" style="display: flex; column-gap: 10px;">
            <button class="btn btn-success" type="submit"
                    [disabled]="!f.valid"
                   >{{ editMode === true ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger" type="button" [disabled]="!editMode" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="reset"  (click)="onClear()">Clear</button>
                </div>
            </div>

            <div class="row ">
                <div class="col-xs-12" style="display: flex; column-gap: 10px;">
                    <p *ngIf="isFetching">Loading...</p>
                    <ul class="list-group" *ngIf="loadedItems.length >= 1 && !isFetching">
                        <li class="list-group-item" *ngFor="let item of loadedItems">
                            <p>{{item.name}}</p>
                            <p>{{item.amount}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
       
    </div>
</div>